body {
	background: #e6e6e6;
}

.loader {
		border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 106px;
    height: 106px;
    animation: spin 2s linear infinite;
    margin: auto;
    margin-top: 172px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.media {
	border: 1px solid #cacaca;
	border-radius: 3px;
}
.media:nth-child(odd) {
	background-color: #e8e8e8;
}

.media:nth-child(even) {
	background-color: rgb(242, 242, 242);
}
